<!DOCTYPE html>
<html>
  <head>

    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>   

      <link rel="icon" href="https://i.ibb.co/9pMfDNR/favicon-32x32.png" />
     



    <script src="https://kit.fontawesome.com/a3542c3ec4.js" crossorigin="anonymous">
    </script>

  
  </head>

  <body>
<%# 
  <div className= "back-img">
    <img src="https://i.ibb.co/0ty3ZMs/Trilla-New-Back.png" alt="Trilla-New-Back" width="1545" height="2000" data-load="full" style="" >  
    </div> %>

  

    <%= yield %>
  </body>
</html>

